/*VARIABLES*/
:root {
    --color-principal: rgba(213, 10, 39, 255);
    --color-secundario: rgba(0,107,173,255);
    --fuente-ramo:'Alex Brush', cursive;

}
/*CONFIG GOBLAB*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

span {
    font-family: var(--fuente-ramo);
    color: var(--color-principal);
    text-transform: capitalize;
}

p{
    text-align: justify;
}

h2 {
    text-transform: capitalize;
    font-size: 40px;

}
/*HEADER*/
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-principal);
    margin: 0 auto;
}

.links_nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_nav {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.titulo {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
/*SECCION PRINCIPAL*/
.principal {
    width: 100%;
    background-image: url('../assets/img/productos.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.principal_sombra {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    color: white;
}

.principal_titulo {
    font-size: 50px;
    width: 70%;
    margin: auto;
}

.principal_contenido {
    width: 80%;
    margin: auto;
    font-size: 20px;
}

.principal_contenido > button {
    margin-top: 20px;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: var(--color-principal);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.principal_contenido > button:hover, .informacion_sombra > button:hover {
    background-color: var(--color-secundario);
}

/*SECCION PORQUE ELEGIR RAMO*/
.elegir, .opiniones, .informacion{
    width: 90%;
    margin: 40px auto 0;
}

.beneficios { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}
.beneficio {
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: var(--color-principal);
    border-radius: 20px;
    padding: 20px;
}
.beneficio_logo {
    height: 100px;
    width: 100px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    margin: 0 auto;
}

.beneficio_texto {
    color: white;
    padding: 20px;
    font-size: 20px;
}
/*SECCION OPINIONES*/
.opiniones_contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.opinion {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
}

.opinion_imagen {
    display: flex;
    justify-content: flex-end; 
}

.opinion_imagen > img {
    border-radius: 50%;
}

.opinion_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.opinion_texto > p{
    width: 80%;
    text-align: justify;
}
/*SECCION FORMULARIO*/
.informacion_contenido {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}
.informacion_producto {
    background-image: url('../assets/img/producto.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.informacion_sombra {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
}
.informacion_sombra > button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--color-principal);
    cursor: pointer;
}

.informacion_form{
    width: 100%;
    height: auto;
    background-color: var(--color-secundario);
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.informacion_input {
    width: 90%;
    height: 30px;
    display: block;
    margin: 10px auto 0;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.informacion_boton {
    margin: 20px auto;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-principal);
    color: white;
    cursor: pointer;
    font-size: 15px;
}

/*REDES*/
.redes {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.redes > a {
    margin-left: 10px;
}
/*FOOTER*/
footer {
    padding: 10px;
    color: white;
    background-color: var(--color-secundario);
    width: 100%;
    bottom: 0;
    text-align: center;
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
    .links_nav {
        width: 30%;
    }
}

@media (max-width: 970px) {
    .opiniones_contenido, .informacion_contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .opinion, .informacion_form {
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .nav, .links_nav{
        flex-direction: column;
        align-items: center;
    }

    .beneficios {
        display: flex;
        flex-direction: column;
    }

    .beneficio {
        margin-top: 20px;
    }

    .link_nav, .titulo {
        display: block;
        margin-top: 10px;
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .principal_sombra, .opinion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opinion_texto {
        margin-top: 20px;
    }

    .principal_titulo {
        font-size: 30px;
    }
}